.button {
  background-color: #FD2E73;
  color: white;
  font-weight: 800;
  border-radius: 80px;
  border: none;
  outline-width: 0;
  margin: 40px auto 0;
  padding: 12px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  width: 100%;
  max-width: 850px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid transparent;
  box-shadow: 3px 4px 6px 4px rgba(0,0,0,0.4);
  display: block;
}

.button:hover,
.button:active {
  transform: scale(1.04);
  border: 3px solid white;
}